body{
    margin: 0%;
    padding: 0%;
    background-color: rgba(54, 52, 52, 0.432);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "lato";
    
}


#container{
    opacity: 0;
    background-color:rgba(252, 243, 215, 0.897);
    width: 1000px;
    height: 600px;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 20px);
    grid-template-rows: repeat(auto-fill, 20px);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 5px 15px black;
    animation: sheetTurn 5s ease 1s 1 forwards;
}

@keyframes sheetTurn{
    0%{
        opacity: 1;
        clip-path:polygon(99% 0%, 50% 10%, 100% 0%, 100% 100%, 50% 90%, 100% 99%); 
    }

    50%{opacity: 1;
        clip-path:polygon(0% 0%, 50% 1%, 100% 0%, 100% 100%, 50% 99%, 0% 100%);
    }

    100%{opacity: 1;
        clip-path:polygon(0% 0%, 50% 0%, 100% 0%, 100% 105%, 50% 105%, 0% 105%);} 
}


.num_recip{
    grid-area: 1/1/4/4;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    border:3px solid grey;
    border-radius: 100%;   
}

.creator{
    grid-area: 6/1/8/25;
    text-transform: uppercase;
    font-size: 24px;
    color: grey;
}

.type_recipe{
    grid-area: 9/1/18/25;
    color: black;
    font-size: 85px;
    font-weight: smaller;
    line-height: 80px;
    font-family:serif; 
}

.description{
    grid-area: 19/1/22/25;
    color: grey;
    font-size: 25px;
}

.undefined{
    grid-area: 23/1/26/25;
    display: flex;
    place-self: center flex-end;
    font-size: 26px;
}

.undefined::before{
    content:"--------------------------------------------------------";
    color: grey;
    letter-spacing: -2px;
    margin-right: 20px;
}

.undefined::after{
    content: " READ";
    letter-spacing: 4px;
}

.logoC{
    grid-area: 27/22/30/25;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    border:3px solid grey;
    border-radius: 100%;   
}


.food{
    grid-area: 1/28/31/51;
    background-image: url(https://s15.postimg.cc/temvv7u4r/recipe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}





































